{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Add New Product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }} {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.price.label_tag }} {{ form.price }}
        </div>
        <div class="form-group">
            {{ form.cover_image.label_tag }} {{ form.cover_image }}
        </div>
        <div class="form-group">
            {{ form.additional_images.label_tag }} 
            <input type="file" name="additional_images" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
{% endblock %}
