{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Add New Design Project</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }} {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.cover_image.label_tag }} {{ form.cover_image }}
        </div>
        <div class="form-group">
            {{ form.additional_images.label_tag }} 
            <input type="file" name="additional_images" multiple  class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add Project</button>
    </form>
</div>

<style>
    .container h2, .form-group label{
        color: white;
    }
</style>
{% endblock %}